<div>
  <div>
    <form class="border-2 border-red-600 flex flex-col align-middle">
      <div>
        <label class="text-xl" for="firstName">FirstName: </label>
        <input class="border-b-2 outline-none" type="text" name="firstName" id="firstName" formControlName="firstName"/>
      </div>
      <div>
        <label class="text-xl" for="lastName">lastName: </label>
        <input class="border-b-2 outline-none" type="text" name="lastName" id="lastName" formControlName="lastName"/>
      </div>
      <div>
        <label class="text-xl" for="address">Address: </label>
        <input class="border-b-2 outline-none" type="text" name="lastName" id="address" formControlName="address"/>
      </div>
    </form>
  </div>
</div>
