<div class="h-full w-screen py-10">
  <div class="flex justify-around w-92 h-80">
    <div class="flex-1">
      <img [src]="product.image" class="w-full h-full object-contain" />
    </div>
    <div class="flex-1 flex flex-col gap-2">
      <div class="text-3xl">
        {{ product.title }}
      </div>
      <div class="text-2xl">
        {{ product.description }}
      </div>
      <div class="text-xl">Rs. {{ product.price }}</div>
      <div class="w-20">
        <button
          class="rounded-lg shadow-md bg-orange-400 w-32 h-10 text-xl"
          (click)="buyProduct(product)"
        >
          Buy Now!!!
        </button>
      </div>
    </div>
  </div>
</div>
